version: '3.8'

services:
  # Weaviate Vector Database
  weaviate:
    image: semitechnologies/weaviate:latest
    ports:
      - "8080:8080"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_APIKEY_ENABLED: 'false'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
    volumes:
      - weaviate_data:/var/lib/weaviate

  # NebulaGraph (Graph Database)
  nebula-graphd:
    image: vesoft/nebula-graphd:latest
    ports:
      - "3669:3669"
    environment:
      - GOD_ENABLE_GRAPH_NEBULA_SYSTEM_SPACE=true
    volumes:
      - nebula_data:/nebula/data

  # NebulaGraph Metad
  nebula-metad:
    image: vesoft/nebula-metad:latest
    ports:
      - "45500:45500"
    volumes:
      - nebula_meta:/nebula/meta

  # NebulaGraph Storaged
  nebula-storaged:
    image: vesoft/nebula-storaged:latest
    ports:
      - "44500:44500"
    volumes:
      - nebula_storage:/nebula/storage

volumes:
  weaviate_data:
  nebula_data:
  nebula_meta:
  nebula_storage:
